@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Entrada";
}
<div class="jumbotron">
    <div class="container text-center">
        <h1>Home</h1>
    </div>
    <a asp-action="Conceito">Conceito</a>
</div>
